@use 'styles/design/base/base' as b;
@use 'styles/design/functions/convert' as c;

.user_card {
    &__skeleton_item {
        background-color: var(--border-color);
        border-radius: 20px;
    }

    &_cont {
        border-radius: 20px;
        border: 1px solid var(--border-color);
        padding: 16px 24px;
        gap: 10px;
        margin: 1rem 0.5rem;
        background-color: rgb(var(--card-bg-color));
        color: rgb(var(--card-text-color));

        flex: 0 0 calc(33.333% - 1rem);

        * {
            text-align: center;
        }
    }

    &_img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }

    &_location {
        width: 100px;
        height: 15px;
    }

    &_name {
        width: 140px;
        height: 25px;
    }

    &_button {
        flex: 1 1 auto;
        height: 37px;
        border-radius: 10px;
    }
}
