@use 'styles/design/base/base' as b;
@use 'styles/design/base/breakpoints' as brk;
@use 'styles/design/functions/convert' as c;

.user_card {
    &_cont {
        border-radius: 20px;
        border: 1px solid var(--border-color);
        padding: 16px 24px;
        background-color: rgb(var(--card-bg-color));
        color: rgb(var(--card-text-color));
        gap: 15px;

        width: 100%;
        flex: 1 1 100%;

        @include brk.tablet {
            width: calc(30% - 1rem);
            flex: 1 1 calc(30% - 1rem);
        }
    }

    &_pill {
        position: absolute;
        bottom: 0;
        padding: 0.2rem 0.5rem;
        font-size: c.pxToRem(10);
        border-radius: 20px;
        background-color: rgb(var(--card-text-color));
        color: rgb(var(--card-bg-color));
        left: 50%;
        transform: translateX(-50%);
    }

    &_img {
        border-radius: 100%;
        border: 2px solid var(--border-color);
    }

    &_location {
        font-size: c.pxToRem(12);
    }

    &_name {
        font-size: c.pxToRem(20);
        font-weight: 600;
        margin: 0;
    }

    &_button {
        @include b.button_base;

        &:focus {
            outline: rgb(var(--card-text-color)) solid 2px;
            outline-offset: 2px;
        }
    }
}
