@use 'styles/design/base/base' as b;
@use 'styles/design/functions/convert' as c;

.user_card {
    &_cont {
        border-radius: 20px;
        border: 1px solid var(--border-color);
        padding: 16px 24px;
        gap: 10px;
        margin: 1rem 0.5rem;
        background-color: var(--card-bg-color);
        color: var(--card-text-color);

        flex: 0 0 calc(33.333% - 1rem);

        * {
            text-align: center;
        }
    }

    &_img {
        border-radius: 100%;
    }

    &_location {
        font-size: c.pxToRem(12);
    }

    &_name {
        font-size: c.pxToRem(20);
        font-weight: 600;
        margin: 0;
    }

    &_button {
        @include b.button_base;
    }
}
