@use 'styles/design/base/breakpoints' as brk;

.user_list {
    &_cont {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
        gap: 1rem;

        scroll-snap-type: x mandatory;

        overflow: auto;

        @include brk.tablet2 {
            flex-direction: row;
            align-items: unset;
        }
    }

    &_linear {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
    }
}
