.hint_cont {
    border: 1px solid var(--border-color);
    padding: 1em;
    border-radius: 10px;

    margin: 2rem auto;
    width: min(90%, 400px);
    text-align: center;
    font-size: 0.875rem;
}
