$light1: #ffffff;
$light2: #fffdfd;
$light3: rgba(0, 119, 182, 0.05);

$dark1: #000000;
$dark2: #333333;
$dark3: #2c2c2c;

$blue1: #0077b6;
$blue2: #00b4d8;

$gradient1: linear-gradient(0deg, rgba(64, 174, 62, 0.15), rgba(64, 174, 62, 0.15)), #ffffff;
$gradient2: linear-gradient(94.41deg, #40ae3e 0%, #74db72 114.72%);

$green1: #40ae3e;
$green2: #30802e;
